@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Inter:wght@300;400;500;600;700&family=Cormorant+Garamond:ital,wght@1,500;1,600;1,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    min-height:100%;
    font-family:'Inter', sans-serif;
    background:#f7f7f5;
    color:#050505;
}

/* Zwart scherm loadscreen */
.loader {
    position: fixed;
    inset: 0;
    background: #000;
    color: #fff;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: .6s ease;
}

/* Verbergt het zwarte scherm als de website geladen is */

.loader.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Geeft een 3D-effect aan de naam */
.name-wrap {
    perspective: 1000px;
}

/* Naam in het midden van het scherm */

.name {
    font-size: clamp(70px, 8vw, 130px);
    font-weight: 700;
    transform-style: preserve-3d;
}

/* Arabische versie naam  */

.arabic {
    font-family: 'Amiri', serif;
}

/* Nederlandse versie naam  */

.latin {
    display: none;
    letter-spacing: -4px;
}

/* Start de draai-animatie */

.flip {
    animation: flip .9s ease;
}

/* Laat de naam omdraaien */
@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

/* Groot nummer rechtsonder */
.counter {
    position: absolute;
    right: 60px;
    bottom: 50px;

    font-size: clamp(120px, 15vw, 250px);
    font-weight: 300;
    line-height: 1;
}



/* SITE */

.site{
    min-height:100vh;
    opacity:0;
    transition:.2s ease;
}

.site.show{
    opacity:1;
}

/* HEADER */

.top-header{
    position:sticky;
    top:0;
    z-index:100;
    height:70px;
    width:100%;
    display:grid;
    grid-template-columns:150px 1fr 190px;
    align-items:center;
    background:#f7f7f5;
}

.brand{
    height:100%;
    display:flex;
    align-items:center;
    padding-left:22px;
    font-size:27px;
    font-weight:400;
    font-family:'Inter', sans-serif;
}

.menu{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:32px;
}

.menu a{
    color:#111;
    text-decoration:none;
    font-size:17px;
    font-weight:400;
}

.contact-btn{
    justify-self:center;
    padding:17px 25px;
    border:1px solid #111;
    border-radius:999px;
    color:#777;
    background:transparent;
    text-decoration:none;
    font-size:11px;
    font-weight:700;

    transition:.3s ease;
}

.contact-btn:hover{
    background:black;
    border-color:black;
    color:#fff;
}

/* HERO */

.hero{
    height:calc(100vh - 70px);
    display:grid;
    grid-template-columns:54.5% 45.5%;
}

.hero-left{
    min-height:55vh;
    border-right:none;
    border-bottom:none;
    padding:50px 20px;
}

.role{
    font-size:20px;
    font-weight:400;
    line-height:1.55;
    letter-spacing:-.5px;
    padding-left: 70px;
}

.hero-title{
    position:absolute;
    left:88px;
    bottom:215px;
    font-family:'Cormorant Garamond', serif;
    font-style:italic;
    font-size:clamp(78px,8vw,125px);
    font-weight:600;
    line-height:.9;
    letter-spacing:-3px;
}


.hero-title span{
    display:block;
    opacity:0;
    transform:translateY(70px);
}

.site.show .hero-title span{
    animation:titleIn .9s ease forwards;
}

.site.show .hero-title span:nth-child(2){
    animation-delay:.15s;
}

@keyframes titleIn{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.hero-right{
    width:100%;
    height:100%;
    overflow:hidden;
}

.hero-right img{
    width:100%;
    height:90%;
    object-fit:cover;
    object-position:center;
    padding-top: 50px;
}

/* SELECTED WORK */

.selected-work{
    position:relative;
    min-height:760px;
    padding:140px 8vw 160px;
    background:#f7f7f5;
    overflow:hidden;
}

.work-heading{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:70px;
}

.section-label{
    font-size:12px;
    font-weight:600;
    letter-spacing:.08em;
}

.work-heading a{
    color:#111;
    text-decoration:none;
    font-size:12px;
    font-weight:600;
}

.work-list{
    position:relative;
    z-index:5;
    display:flex;
    flex-direction:column;
    gap:70px;
    width:58%;
}

.work-item{
    position:relative;
    display:grid;
    grid-template-columns:70px 1fr;
    align-items:start;
    color:#2E2E2E;
    text-decoration:none;
    transition:.45s ease;
}

.work-number{
    font-size:18px;
    font-weight:500;
    line-height:1;
    opacity:.45;
    padding-top:14px;
}

.work-content{
    position:relative;
    z-index:5;
}

.work-item h3{
    font-size:clamp(44px,5vw,90px);
    font-weight:500;
    line-height:.95;
    letter-spacing:-4px;
    transition:.4s ease;
}

/* HOVER EFFECTs */
.work-item:hover{
    transform:translateX(20px);
}

.work-item p{
    margin-top:15px;
    font-size:14px;
    font-weight:400;
    letter-spacing:-.2px;
    opacity:0;
    transform:translateY(10px);
    transition:.4s ease;
}

.work-item:hover p{
    opacity:.75;
    transform:translateY(0);
}

/* Preview */
.preview-frame{
    position:absolute;
    right:8vw;
    top:50%;

    width:520px;
    height:320px;

    transform:translateY(-50%);

   
    overflow:hidden;
    z-index:2;
}

.preview-img{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    opacity:0;
    visibility:hidden;

    transform:scale(1.05);
    transition:.45s ease;
}

.selected-work:has(.item-1:hover) .preview-1,
.selected-work:has(.item-2:hover) .preview-2,
.selected-work:has(.item-3:hover) .preview-3{
    opacity:1;
    visibility:visible;
    transform:scale(1);
}


.footer{
    min-height:70vh;
    padding:140px 8vw;
    background:#050505;
    color:#f7f7f5;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.footer .section-label{
    color:rgba(255,255,255,.45);
}

.footer h2{
    max-width:1000px;
    margin-top:35px;
    font-size:clamp(48px,6vw,110px);
    font-weight:500;
    line-height:.92;
    letter-spacing:-5px;
    color:#fff;
}

.footer-links{
    display:flex;
    gap:18px;
    margin-top:70px;
}

.footer-links a{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:16px 28px;
    border:1px solid rgba(255,255,255,.18);
    border-radius:999px;
    color:#fff;
    text-decoration:none;
    font-size:13px;
    font-weight:500;
    transition:.3s ease;
}

.footer-links a:hover{
    background:#fff;
    color:#050505;
}